@import "colors";
/* Shortly Color Naming */
$primary: $purple;
$primary-medium: $medium-purple;
$primary-dark: $dark-purple;
$highlight: $green;
$highlight-light: $light-green;
$layout-light: $white;
$layout: $off-white;
$typing: $gray;
