<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-wrapper">
          <img src="./assets/images/illustration-working.svg" alt="Hero Banner" class="banner img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner-content">
          <h3 class="banner-title">More than just shorter links</h3>
          <p class="banner-description">Build your brand’s recognition and get detailed insights on how your links are performing.</p>
          <a class="banner-action shrt-btn medium apply round" href="javascript:">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
