<section>
  <h3 class="statistics-title">Advanced Statistics</h3>
  <p class="statistics-description">Track how your links are performing across the web with our advanced statistics dashboard.</p>
  <div class="container">
    <div class="widgets">
      <div class="widget">
        <div class="widget-icon">
        <span class="icon-wrapper">
          <img src="./assets/images/icons/recognition.svg" alt="Shortly Logo" class="icon">
        </span>
        </div>
        <h3 class="widget-title">Brand Recognition</h3>
        <p class="widget-description">Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help initial confidence in your content.</p>
      </div>
      <div class="widget">
        <div class="widget-icon">
        <span class="icon-wrapper">
          <img src="./assets/images/icons/records.svg" alt="Shortly Logo" class="icon">
        </span>
        </div>
        <h3 class="widget-title">Detailed Records</h3>
        <p class="widget-description">Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
      </div>
      <div class="widget">
        <div class="widget-icon">
        <span class="icon-wrapper">
          <img src="./assets/images/icons/customizable.svg" alt="Shortly Logo" class="icon">
        </span>
        </div>
        <h3 class="widget-title">Fully Customizable</h3>
        <p class="widget-description">Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
      </div>
    </div>
  </div>
</section>
